/*css tret de https://github.com/LFeh/piano/blob/master/dev/assets/css/style.css*/
@font-face {
    font-family: BebasNue;
    src: url('/piano/Letra/BebasNeueBold.otf');
}

@font-face {
    font-family: Skate;
    src: url('/piano/Letra/SkateSemiBold.otf');
}

body {
    display: flex;
    background-image: url('../img/background/background11.jpg');
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    margin: 50px 0px 0px 0px;
}

.titulo{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-family: Skate;
    font-size: 25pt;
    text-shadow: 3px 3px 7px #ffffff;
}

 .cuerpo {
    height: 100%;
    width: 900px;
    flex-direction: column;
} 

.piano {
    background: -webkit-linear-gradient(-65deg, #000000, #222222, #000000, #666666, #222222 75%);
    background: -moz-linear-gradient(-65deg, #000000, #222222, #000000, #666666, #222222 75%);
    background: -o-linear-gradient(-65deg, #000000, #222222, #000000, #666666, #222222 75%);
    background: linear-gradient(-65deg, #000000, #222222, #000000, #666666, #222222 75%);
    border-top: 2px solid #111;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.5), inset 0 -4px 5px #000000;
    padding: 0 1% 3%;
    text-align: center;
    border-radius: 10px;
    height: 100%;
}

.key {
    display: inline-block;
    position: relative;
    margin: 0 2px;
    width: 6%;
    max-width: 85px;
}

.key:active .black-key,
.key.active .black-key {
    top: -5px;
}

.key .white-key {
    background: -webkit-linear-gradient(-30deg, #f8f8f8, #ffffff);
    background: -moz-linear-gradient(-30deg, #f8f8f8, #ffffff);
    background: -o-linear-gradient(-30deg, #f8f8f8, #ffffff);
    background: linear-gradient(-30deg, #f8f8f8, #ffffff);
    box-shadow: inset 0 1px 0px #ffffff, inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px 0px 0px #ffffff, 0 4px 3px rgba(0, 0, 0, 0.7), inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px -1px 15px rgba(0, 0, 0, 0.5), -3px 4px 6px rgba(0, 0, 0, 0.5);
    display: block;
    height: 300px;
}

.key .white-key:active,
.key .white-key.active {
    box-shadow: inset 0 1px 0px #ffffff, inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px 0px 0px #ffffff, 0 4px 3px rgba(0, 0, 0, 0.7), inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px -1px 15px #000000, -3px 4px 6px rgba(0, 0, 0, 0.5);
    position: relative;
    top: -5px;
    height: 295px;
}

.key .black-key {
    content: "";
    box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
    background: -webkit-linear-gradient(-20deg, #222222, #000000, #222222);
    background: -moz-linear-gradient(-20deg, #222222, #000000, #222222);
    background: -o-linear-gradient(-20deg, #222222, #000000, #222222);
    background: linear-gradient(-20deg, #222222, #000000, #222222);
    border-width: 1px 3px 8px;
    border-style: solid;
    border-color: #666 #222 #111 #555;
    height: 160px;
    position: absolute;
    top: 0px;
    right: -40%;
    width: 70%;
    z-index: 10;
}

.key .black-key:active,
.key .black-key.active {
    border-bottom-width: 3px;
    top: 0;
}


.buscador {
    margin: 3% 0% 0% 0%;
    justify-content: center;
    align-items: center;
    font-family: BebasNue;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

.titulo-buscador {
    margin: 10px 0px 10px 0px;
    font-family: BebasNue;
    font-size: 25pt;
    font-weight: bold;
}

.nota-musical {
    font-family: Helvetica, sans-serif;
}

.resultados-buscador {
    font-family: BebasNue;
    font-size: 25pt;
    display: flex;
    font-weight: bold;
    text-align: center;
    margin: 45px 0px 15px 0px;
}

.mostrar_notas {
    margin: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

button {
    background-color: rgba(255, 0, 0, 0.932);
    font-style: white;
    font-size: 10.5pt;
    border: none;
    padding: 10px;
    box-shadow: 0px 0px 8px 5px #00000027;
    color: white;
    font-family: arial;
    font-weight: 600;
}

button:hover {
    background-color: #8e2828;
}

ul {
    margin: 0;
    padding: 0;
}
.resultados {
    margin-bottom: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    
}  

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_resultado {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.canciones-encontradas {
    margin: 0px 0px 0px 0px;
    font-family: sans-serif;
}

#cancionEncontrada {
    margin: 10px 0px 0px 0px;

}

.letra {
    color: red;
    text-decoration: none;
}

tr {
    display: flex;
/*     flex-direction: column;*/
    justify-content: center; 
}

td {
    flex-direction: row;
    width: 40%;
}

table {
    width: 100%;
    border-collapse: collapse;
}